@tailwind base;
@tailwind components;
@tailwind utilities;

.section-content {
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    /* Adjust the duration and timing function as needed */
    max-height: 0;
}

.section-content.open {
    max-height: 1000px;
    transition: max-height 0.2s ease-in-out;
    /* Adjust the maximum height according to your content */
}